{{ define "main" }}

<main>
	<div class="info__post">
		<h1>Info</h1>
		{{ .Content }}
		<h2>
			Links:
		</h2>
		<ul>
				<!--
				<li>
					<h2>
						<a href="mailto:{{.Params.contact_info.email}}">Email: {{ .Params.contact_info.email }}</a>
					</h2>
				</li>
				<li>
					<h2>
						<a href="https://twitter.com/{{.Params.contact_info.twitter_handle}}">
							Twitter: @{{.Params.contact_info.twitter_handle}}
						</a>
					</h2>
				</li>
				-->
				<li>
					<a href="https://github.com/{{.Params.contact_info.github_handle }}">Github: {{.Params.contact_info.github_handle }}</a>
				</li>
				<li>
						<a href="{{.Params.source_info.website}}">Website source</a>
				</li>
				<li>
						<a href="{{.Params.source_info.theme}}">Theme source</a>
				</li>
			</ul>
	</div>
</main>

{{ end }}
